<title>Buscando Usuário</title>
<h2>Buscar Usuário</h2>
<form action="/buscar_usuario" method="post">
  <label for="login">Login:</label><br>
  <input type="text" id="login" name="login" required><br>
  <input type="submit" value="Buscar">
</form>