<form action="/buscarpaciente" method="POST">
  <label for="nome">Nome do Paciente:</label><br>
  <input type="text" id="nome" name="nome"><br>
  <label for="idade">Idade do Paciente:</label><br>
  <input type="text" id="idade" name="idade"><br>
  <label for="cpf">CPF do Paciente:</label><br>
  <input type="text" id="cpf" name="cpf"><br>
  <input type="submit" value="Buscar">
</form>